#mombox{
    width: 1190px;
    height: 565px;
    margin: 20px auto 0;
    min-width: 990px;
}
#mombox .momboxleft{
    float: left;
    width: 590px;
    height: 565px;
    background: #fff;
    border-top: 2px solid #fff;
    box-shadow: 0 0 8px #eee;
}
.momleft-header{
    width: 100%;
    height: 45px;
    background: #fdf1f1;
}


 .header-confont{
    width: 190px;
    height:45px;
    float: left;
    background: #e87272;
}
.header-confont p{
    width: 72px;
    height: 40px;
    float: left;
    margin-left: 15px;
    color: #fff;
    font: bold 18px/40px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.confontbox{
    position: relative;
    float: left;
    width: 33px;
    height: 24px;
    margin: 10px 0 0 10px;
    z-index: 1;
    background-image: url(../images/images/QQ图片20181212151800.png);
    background-repeat: no-repeat;
    background-position: left;
}
.confontbox .hover-confontbox{
    display: none;
    position: absolute;
    top: 35px;
    left: -49px;
    width: 100px;
    height: 100px;
    background: #FFF;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}
.hover-confontbox img{
    width: 100px;
    height: 100px;
    margin: 6px auto 0;
}
.header-list{
    float:right;
}
.header-list a{
    margin-right: 20px;
    color: #666;
    font-size: 15px;
    line-height: 45px;
}
.momleft-bigimg{
    width: 590px;
    height: 360px;
}
.momleft-bigimg .bigimg-left{
    display: block;
    float: left;
    position: relative;
    width: 190px;
    height: 360px;
    cursor: pointer;
}
.momleft-bigimg .bigimg-right{
   position: relative;
    float: left;
    width: 400px;
    height: 360px;
    overflow: hidden;
} 
.img-listclearfix{
    position: relative;
    float: left;
    width: 400px;
    height: 360px;
    overflow: hidden;
}
.img-listclearfix li{
    position: relative;
    float: left;
    width: 199px;
    height: 179px;
    border-width: 0 0 1px 1px;
    border-color: #EEE;
    border-style: solid;
    overflow: hidden;
}
.img-listclearfix li a{
    color: #333;
}
.img-listclearfix .img-name{
    width: 180px;
    height: 24px;
    overflow: hidden;
    text-align: center;
    margin: 14px auto 0;
    font: 16px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #333;
}
.img-listclearfix .img-desc{
    width: 180px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    color: #e87272;
    margin: 0 auto;
    font: 12px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.img-listclearfix .lazy-loading{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    transition: 0.5s;
}
.img-listclearfix .lazy-loading:hover{
    display: block;
    width: 126px;
    height: 126px;
    margin: 0 auto;
}
.momleft-middleimg{
    position: relative;
    width: 100%;
    height: 109px;
    overflow: hidden;
    border-bottom: 1px solid #EEE;
}
.momleft-middleimg ul{
    width: 593px;
}
.momleft-middleimg .first{
    width: 189px;
}
.momleft-middleimg ul li{
    position: relative;
    float: left;
    width: 200px;
    height: 109px;
    border-right: 1px solid #EEE;
}
.momleft-middleimg .img-name{
    width: 70px;
    color: #333;
    height: 24px;
    margin-top: 27px;
    padding-left: 20px;
    overflow: hidden;
    font: 14px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.momleft-middleimg .img-desc{
    width: 72px;
    height: 22px;
    padding-left: 20px;
    overflow: hidden;
    font: 12px/22px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #e87272;
}
.momleft-middleimg .lazy-loading{
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 80px;
    height: 80px;
    transition: 0.5s;
}
.momleft-middleimg .lazy-loading:hover{
    width: 84px;
    height: 84px;
}
.momlogo{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.momlogo ul li{
    margin: 9px 8px 0 9px;
    float: left;
    width: 80px;
    height: 30px;
}
.momlogo .lazy-loading{
    display: block;
    width: 80px;
    height: 30px;
}
                                                                                                                                                                                                                                                                                                   