.detailp{
    width:1200px;
    margin:0 auto;
    min-height: 200px;
}
.detailp li{
    height: 200px;
    width:200px;
    float:left;
     margin-left:30px;
     margin-bottom: 30px;
}
.detailp li img{
    height: 200px;
    width:200px;
}
.detailp li:hover{
    cursor: pointer;
}

.detailp li:hover img{
    transition: all 0.3s linear;
    height: 206px;
    width: 206px;
}
.detailp li img{
    transition: all 0.3s linear;
    height: 200px;
    width: 200px;
}