 .shades{
    width:816px;
    height: 122px;
    position: relative;
    clear: both;
    overflow: hidden;
    z-index: 10;
    top:354px;
    left:9px;
}
 .shades li{
    height: 122px;
    width:707px;
    position: absolute;
    background: white;
   
}
.shades li:nth-child(1) div{
    float:left;
   
}
.shades li:nth-child(1) img{
    margin-left:30px;
    float:left;
    margin-top:20px;
  
}
.shades li:nth-child(2) div{
    float:left;
}
.shades li:nth-child(2) img{
    margin-left:80px;
    float:left;
    margin-top:-20px;
  
}
.shades li:nth-child(3) div{
    float:left;
}
.shades li:nth-child(3) img{
    margin-left:80px;
    float:left;
    margin-top:-20px;
  
}
.shades li:nth-child(4) div{
    float:left;
}
.shades li:nth-child(4) img{
    margin-left:80px;
    float:left;
    margin-top:-20px;
  
}

#contentp{
    height: 482px;
    margin:0 auto;
    background: pink;
    position: relative;
}
.shades p:nth-of-type(1){
    width:95px;
    height: 22px;
    height: 22px;
    z-index: 1;
    width: 95px;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0 0 7px;
    overflow: hidden;
    color: rgb(239, 65, 36);
    display: block;
    word-break: break-all;
    word-wrap: break-word

}
.shades p:nth-of-type(2){
    position: relative;
    z-index: 1;
    width: 95px;
    height: 19px;
    line-height: 19px;
    font-size: 14px;
    margin: 1px 0 0 7px;
    overflow: hidden;
    color: #666;
    }

.shades li:nth-child(2) p:nth-child(1){
    color: rgb(152, 55, 238);
}
.shades li:nth-child(3) p:nth-child(1){
    color: rgb(68, 177, 113);
}
.shades li:nth-child(4) p:nth-child(1){
    color: rgb(36, 130, 239);
}
#contentp .left_bannerp{
   position: absolute;
}
#contentp .right_bannerp{
    position: absolute;
    right:0;
}